.body-container {
    background-color: #282929;
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
    color: #EAE4D5!important;
}
.navbar {
    background-color: #000000;
    filter: drop-shadow(
        1px 1px 6px
        #FFF2D7
    );
}
.container-fluid a{
    color: #EAE4D5;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.container-fluid a:hover {
    color: #FFF2D7;
    text-decoration: underline;
}

.container-fluid a::after {
   color: #FFF2D7;
}

.dropdown-item {
    color: #EAE4D5;
}

.btn-carrito {
    color: #EAE4D5!important;
    background-color: #D8AE7E;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-carrito:hover {
    background-color: #C89A6B;
}
